$size: 400px;
body,html{
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 20px;
  height: 20px;
  padding: 0;
  &.bomb{
    background-color: red;
  }
  &:disabled{
    background-color: darkgray;
    border-style: inset;
  }
}
.board{
  display: flex;
  flex-flow: row wrap;
  &.level-1{
    width: (20px * 8);
  }
}